/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ORDER */
/* BODY */
body {
  font-family: 'Barlow', sans-serif;
  background-color: #fff;
  color: #292929;
 

}
/* HEADER */
.order-header {
  background-color: #CE2829;
  padding: 2rem;
  display: flex;              
  flex-direction: column;     
  align-items: center;        
}

.order-header img {
  width: 340px;
}

.small-text {
  margin-top: 1.2rem;     
  margin-left: -320px;    
  color: #fff;
  font-size: 0.85rem;
}
.home-link {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}


/* PAGE  */
.page {
  max-width: 650px;
  margin: 0 auto;
  padding: 3rem 5rem;

}

/* PIZZA METNİ VS*/
.pizza-desc {
 line-height: 2rem;
}
.pizza-section h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1rem;
}

.price {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: -2rem; 
}


.rating {
  display: flex;
  align-items: center ;  
  gap: 2.5rem  ;         
}

/* BOYUT SEÇ (RADİO) VE HAMUR SEÇ ( SELECT) */
.row {
  display: flex;
  gap: 10rem;
  margin: 2rem 0;
}

.size-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.radio-item input {
  width: 14px;
  height: 14px;
}
.dough-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}


/* EK MALZEMELER  */
.topping-section {
  margin: 2rem 0;
}

.topping-info {
  color: #5F5F5F;
  margin: 1rem 0 3rem 0;
}

.topping-grid {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  column-gap: 3rem;
  row-gap: 1.4rem;


}

.topping-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.topping-item input {
  width: 14px;
  height: 14px;
}


/*İNPUT KISIMLARI*/
input, select, textarea {
   width: 100%; 
   padding: 0.6rem; 
   border-radius: 6px; 
   border: 1px solid #ccc; }

.name-section ,
.note-section {
  margin: 2rem 0;

}
.name-section h4 ,
.note-section h4 {
  margin: 0.7rem 0;

}


/*   ALT ALAN */
.order-section {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}
.count {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc; 
  border-radius: 0.2rem;
}

.count button {
  background-color: #FDC913;
  border: none;
  width: 44px;
  height: 44px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  
}

.count span {
  font-size: 1.2rem;
  min-width: 20px;
  text-align: center;
}

.order-total {
  flex: 1; 
  background: #fff;
  border-radius: 0.2rem;
  border: 1px solid #ccc; ;
  
}

.order-total h4 {
  margin: 2rem 2rem 1.5rem 2rem;
 
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
  font-size: 15px;
}

.total-price {
  font-weight: bold;
  color: #CE2829;
}

.total-price {
  font-weight: bold;
  color: #CE2829;
}

/* SİPARİŞ VER BUTONU  */
.order-total button {
  margin-top: 1.3rem;
  
  width: 100%;
  padding: 1rem;
  background-color: #FDC913;
  border: none;
 
  font-weight: bold;

  font-size: 1rem;
  cursor: pointer;
}

.order-total button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.note-section {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd; 
}


.redh4{
  color: #CE2829; 
  margin-left: 4px;
}

.error {
  color: #CE2829;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}



/*HOME*/


.hero{
  width:100%;
  height: 860px;
  background: #CE2829;
  background-image: url("./assets/home-banner.png");
  background-size: cover;    
  background-position:bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding-top:2rem;  
}

.hero img{
  width:340px;
  margin:2rem;

  
}

.hero-title{
  font-family:'Roboto Condensed', sans-serif !important; 
  font-size:4rem;
  font-weight:lighter;
  line-height:4.2rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom:1.8rem; 
 
}


.hero-buton{
  font-family:'Barlow', sans-serif;
  background: #FDC913;
  padding:1rem 3rem;
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-decoration:none;
  margin-bottom: 1rem; 
}

.hero-buton:hover{
  color:#FFFFFF;
  background-color: #1A1A1A;
  
}

/*SUCCESS*/
.success-title {
  color: #FFFFFF;
  font-family:'Roboto Condensed', sans-serif important!;
  font-weight: lighter;
 
  line-height: 1.2;
  font-size: 3.5rem !important;
  
}

.success-page {
  background-color: #CE2829;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.success-header {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  
  
}
.success-header img {
  width: 300px !important;  
}

.success-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 6rem;
}

.information {
  position: absolute;
  bottom: 40px;           
  left: 50%;
  transform: translateX(-50%);

  background: white;
  color: black;


  padding: 1.5rem 2rem;
  border-radius: 8px;
  
}
.information ul{
list-style: none;
}



@media (max-width: 700px) {

  .order-header img {
  width: 300px;
  margin-top: 1rem;
}
  .small-text {
  margin-top: 1.2rem;     
  margin-left: -9rem;    
  color: #fff;
  font-size: 0.85rem;
}

   .row {
    display: flex;
    gap: 2rem;
  }

  .topping-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
  .order-section {
    display: grid;
    grid-template-areas:
      "total"
      "actions";
    gap: 1.2rem;
  }

  .order-total {
    grid-area: total;
  }

  .order-actions {
    display: grid;
     grid-template-columns: 130px 130px;
    justify-content: center;
    gap: 1rem;
  }

  .count {
    width: 130px;
    justify-content: space-between;
  }

  .order-total button {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #FDC913;
  border-radius: 6px;
  font-weight: bold;
}




  /*HOME*/

  .hero {
    height: 100vh;
    background-size: 220%;
    background-position:bottom center;
  }

  .hero img{
    width: 300px;
    padding-top: 3rem;

  }

  .hero-title {
    font-size: 3.5rem;
    line-height: normal;
    margin-bottom: 1.4rem;
   margin: 0 2rem;
   
      
  }

  .hero-buton {
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem;
  }



  /*SUCCESS */
 .success-header {
    padding-top: 4rem;
  }

  
  .success-title {
    font-size: 3.5rem !important;  
    max-width: 90%;   
    font-weight: lighter;             
    margin: 0 auto;
  }
  .line-2 {
    display: block;       
    max-width: 220px;     
    margin: 0 auto;
  }

  
  

  
}





